<nav class="navbar navbar-expand-sm navbar-dark bg-danger">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Angular Routing</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item px-2">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" routerLink="/employees">Employee</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" routerLink="/stocks">Stocks</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>