<div class="landing-page">




    <div class="wrapper">
        <div class="d-flex flex-column justify-content-center align-items-center text-center h-100">
            <h3 class="display-4">Welcome to Angular Routing</h3>
            <p class="lead px-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto adipisci magnam, aliquam ex dolorem nemo hic quam illum consectetur accusantium consequuntur ut est exercitationem quo dolor vero odio repudiandae nobis.</p>
        </div>
    </div>
</div>